/_rels/*
*.nupkg
/obj/Debug/*
/node_modules/*
/Content/*/obj
/Content/*/obj/Debug/*
/Content/*/node_modules
/Content/*/wwwroot/js
/Content/*/.vs
/Content/*/bin/Debug/netcoreapp2.0
/Content/*/wwwroot/css/*.min.css
/Content/*/package-lock.json
/Content/*/*.sln
/Content/*/Migrations
/Content/*/wwwroot/*.js
/Content/*/wwwroot/*.css
*.db
*.user
/Content/*/Properties/launchSettings.json
