/_rels/*
*.nupkg
/obj/Debug/*
/node_modules/*
/Content/*/obj
/Content/*/obj/Debug/*
/Content/*/node_modules
/Content/idea42angular1/wwwroot/js
/Content/*/.vs
/Content/*/bin/Debug/netcoreapp2.0
/Content/idea42angular1/wwwroot/css/*.min.css
/Content/*/package-lock.json
/Content/*/*.sln
/Content/idea42authapi/Migrations
/Content/idea42react/wwwroot/*.js
/Content/idea42react/wwwroot/*.css
*.db
*.user
/Content/*/Properties/launchSettings.json
