@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <script src="~/js/site.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
</head>
<body>

</body>
</html>